html {
    background-color: rgb(255, 255, 255);
    font-family: Arial;
}

h1 {
    font-family: 'Courier New';
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

table {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    text-align: justify;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.123);
}

.grid {
    display: grid;
    place-items: center;
}

.flex {
    display: flex;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.customheader {
    font-family: 'Trebuchet MS';
    font-weight: bold;
}

.card {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 20px;
    margin-top: 15px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: rgb(255, 65, 65);
    color: white;
    transition: 0.5s;
}

.active {
    background-color: rgb(255, 65, 65);
    color: white;
}

.container {
    animation: transitionIn 0.75s;
}

.bigredBtn {
	background-color:#ff2424;
	border-radius:15px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
}
.bigredBtn:hover {
	background-color:#ff4f4f;
}
.bigredBtn:active {
	position:relative;
	top:1px;
}

/*Search Bar*/
* {
    box-sizing: border-box;
  }
  
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }


@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-15deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0deg);
    }
}